body {
    background-color:black;
    color:white;
    font-family:cursive;
}

a {
    color:cornflowerblue;
    text-decoration: none;
}

a:hover{
    color:rgb(10, 43, 233);
}

h1{
    font-family:Calibri,Arial, sans-serif;
}

p {
    font-family:Calibri,Arial, sans-serif;
}
.navigation{
    background-color:navy;
    width: 100%;
    padding-bottom: 8px;
    padding-left: 16px;
    position: fixed;
}
.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation li{
    float:left;
    padding-right: 5%;
}

.content{
    padding-top: 150px;
}
.scrole{
    margin-left:25%;
    padding:1px 16px;
    height:1000px;
}
.portrait{
    max-width:250px;
    width:50%;
    padding-left: 220px;
}
